@keyframes carousel {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

.animate-carousel {
    animation: carousel 50s linear infinite;
    display: flex;
    width: max-content;
}